

body{
    background-color: chartreuse;
}
.feed-container{
    background-color: aqua;
    border-style: groove;
    border-color: black;
    border-radius: 30%;
}
.feed-container p{
    
   
    text-align: center;
    text-transform: capitalize;
}
