/* Estilizando o layout principal */
.content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas */
    grid-template-rows: auto auto; /* Mapa na primeira linha, cartões na segunda */
    gap: 20px; /* Espaço entre os elementos */
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o conteúdo */
    padding: 20px;
}

/* Estilizando o mapa */
.map-container {
    grid-column: 1 / 3; /* O mapa ocupa as duas colunas */
    width: 100%;
    height: 400px; /* Altura ajustada */
    background-color: #ddd; /* Cor de fundo caso o mapa não seja carregado */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
}

/* Estilizando os cartões */
.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas para os cartões */
    gap: 20px; /* Espaçamento entre os cartões */
    width: 100%;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease; /* Efeito de hover */
}

.card:hover {
    transform: translateY(-5px); /* Elevação do cartão no hover */
}

.card-title {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

h4 {
    margin: 5px 0;
}

/* Estilizando o body e background */
body {
    background-color: #41a33d;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
    margin: 20px 0;
    font-size: 28px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/* Mensagens de sucesso/erro */
.messages-success, .messages-error {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 5px;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out;
}

.messages-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.messages-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}



.popup {
    display: none; /* Esconde o pop-up inicialmente */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    text-decoration-color: black;
    color: black;
}
.overlay {
    display: none; /* Esconde o fundo escuro inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
}
.close-btn {
    display: inline-block;
    padding: 10px;
    background-color: #f44336;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}