<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="{% static "images\Goal_icon-icons.com_62267.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "css/navbar_base.css" %}">

    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    
    <nav class="navbar">
        <div class="navbar-logo" onclick="window.location.href = '/accounts/profile/'">Aluga campos</div>
        <ul class="navbar-menu">
            <li><a href="listas">Campos</a></li>
            <li><a href="relatorio">Relatório</a></li>
            <li><a href="perfilUsuario">Perfil</a></li>
            <li><a href="add-campo">Adicionar Campo</a></li>
            <li><a href="#cntt">Contato</a></li>
            <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
        </ul>
    </nav>
    

    {% block content %}
    {% endblock content %}
</body>
</html>