{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluga campos</title>
    <!-- Incluindo o CSS do Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
       
    </style>
</head>
<body>
    <nav class="navbar">

        <div class="navbar-logo" onclick="window.location.href = '/accounts/profile/'">Aluga campos</div>

        <ul class="navbar-menu">
            <li><a href="{%url 'mfa_index'%}">Ativar Verificação de 2 fatores</a></li>
            <li><a href="relatorio">Relatório</a></li>
            <li><a href="perfilUsuario">Perfil</a></li>
            <li><a href="add-campo">Adicionar localidade</a></li>
            <li><a href="#cntt">Contato</a></li>
            <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
        </ul>
    </nav>

    <div class="content">
        <div class="map-container">
            <div id="map"></div>
        </div>
    
        <div class="dropdown">
            <button class="dropbtn">Selecione uma região para visualizar os campos disponíveis
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#" data-coords="-22.963530, -42.97589">Itaipuaçu</a>
                <a href="#" data-coords="-22.9187, -42.8224">Centro</a>
                <a href="#" data-coords="-22.93041, -42.883646">São José</a>
                <a href="#" data-coords="-22.914444, -42.931020">Inoã</a>
                <a href="#" data-coords="-22.929425, -42.967063">Itaocaia</a>
                <a href="#" data-coords="-22.9287, -42.8124">Parque Nanci</a>
            </div>
        </div>

        {% if messages %}
    <ul class="messages-error">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if messages %}
    <ul class="messages-success">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

        <form id="coordForm" method="post" class="form" enctype="multipart/form-data" onsubmit="return confirmSubmit()">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button id="button_submit"type="submit">Salvar</button>
        </form>
    </div>

    <!-- Incluindo o JavaScript do Leaflet -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    

    <script>
        
        // Função para esconder as mensagens após 10 segundos
        setTimeout(function() {
            const errorContainer = document.querySelector('.messages-error');
            const successContainer = document.querySelector('.messages-success');
            
            if (errorContainer) {
                errorContainer.style.display = 'none'; // Esconde a caixa de mensagens de erro
            }
            
            if (successContainer) {
                successContainer.style.display = 'none'; // Esconde a caixa de mensagens de sucesso
            }
        }, 5000); // 
        // Inicializando o mapa e definindo suas coordenadas iniciais e nível de zoom
        var map = L.map('map').setView([-22.9187, -42.8224], 15);

        // Adicionando o tile layer do OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


        // Função para atualizar o mapa com novas coordenadas
        function updateMap(coords) {
            var [lat, lng] = coords.split(',').map(Number);
            map.setView([lat, lng], 15);
        }

        // Adicionando um marcador em Maricá
        var marker = L.marker([-22.9187, -42.8224]).addTo(map);
        marker.bindPopup('<b>Maricá</b>').openPopup();
        
        var marker = L.marker([-22.930808, -42.884595]).addTo(map);
        marker.bindPopup('<b>São José</b>').openPopup();

        var marker = L.marker([-22.929425, -42.967063]).addTo(map);
        marker.bindPopup('<b>Itaocaia</b>').openPopup();

        var marker = L.marker([-22.963530,-42.97589 ]).addTo(map);
        marker.bindPopup('<b>Itaipuaçu</b>').openPopup();
        
        var marker = L.marker([ -22.914207, -42.930515]).addTo(map);
        marker.bindPopup('<b>Inoã</b>').openPopup();

        var marker = L.marker([-22.9287, -42.8124]).addTo(map);
        marker.bindPopup('<b>Parque Nanci</b>').openPopup();

        function updateMap(coords) {
            var [lat, lng] = coords.split(',').map(Number);
            map.setView([lat, lng], 15);
        }

        // Adicionando evento de clique nos itens do dropdown
        document.querySelectorAll('.dropdown-content a').forEach(link => {
            link.addEventListener('click', function (e) {
                e.preventDefault(); // Impede o comportamento padrão do link
                var coords = this.getAttribute('data-coords');
                updateMap(coords);
            });
        });

        // Adicionando evento de clique ao mapa para mostrar as coordenadas
        map.on('click', function(e) {
            var latlng = e.latlng;
            var popupContent = `Latitude: ${latlng.lat.toFixed(6)}<br>Longitude: ${latlng.lng.toFixed(6)}`;
            L.popup()
                .setLatLng(latlng)
                .setContent(popupContent)
                .openOn(map);
        });

        // Adicionando evento de clique ao mapa para mostrar as coordenadas
        map.on('click', function(e) {
            var latlng = e.latlng;
            var popupContent = `Latitude: ${latlng.lat.toFixed(6)}<br>Longitude: ${latlng.lng.toFixed(6)}`;
            L.popup()
                .setLatLng(latlng)
                .setContent(popupContent)
                .openOn(map);
        });
        {% comment %} testando a inserção de pins customizados no mapa {% endcomment %}
        var img = L.icon({
            iconUrl: '{% static 'images/campo-de-futebol.png' %}',
        });
        L.marker([-22.915551,  -42.814552], { icon: img }).addTo(map)
        .bindPopup('Aqui está o campo de futebol!');
        
        var data = {{ coordenadas|safe }}

// Exibindo os marcadores salvos no banco de dados
    data.forEach(function(coordenada) {
        var img = L.icon({
            iconUrl: '{% static 'images/campo-de-futebol.png' %}',
        });

        console.log("coordenada")
        L.marker([coordenada.latitude, coordenada.longitude], { icon: img }).addTo(map)
        .bindPopup('Aqui está o campo de futebol!');
    })
    
    function converterParaSegundos(hora) {
        var partes = hora.split(":");
        var horas = Number(partes[0]);
        var minutos = Number(partes[1]);
        return (horas * 3600) + (minutos * 60); 
    }
function confirmSubmit() {
        var ini = document.getElementById('id_inicio').value;
        var fin = document.getElementById('id_final').value;
        
        var ini_seg = converterParaSegundos(ini)
        var fin_seg = converterParaSegundos(fin)
          
        var duracao = fin_seg - ini_seg;
        console.log(duracao)
        var duracao_horas = duracao / 3600;
        var valor_por_hora = 50;
        
        console.log('duracao:'+duracao+ ' horario inicial: '+ini_seg + ' horario final: ' +fin_seg)
        var valor_total = duracao_horas * valor_por_hora;

        return confirm(`Tem certeza que deseja salvar as alterações? O valor total é R$${valor_total.toFixed(2)}.`);  


}

    </script>
</body>
</html>



