{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluga campos</title>
    <!-- Incluindo o CSS do Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/styleprofile.css' %}">
    <style>
       
    </style>
</head>
<body>
    <nav class="navbar">

        <div class="navbar-logo" onclick="window.location.href = '/accounts/profile/'">Aluga campos</div>

        <ul class="navbar-menu">
            <li><a href="{%url 'mfa_index'%}">Ativar Verificação de 2 fatores</a></li>
            <li><a href="relatorio">Relatório</a></li>

            <li><a href="perfilUsuario">Perfil</a></li>
            <li><a href="add-campo">Adicionar localidade</a></li>
            <li><a href="#cntt">Contato</a></li>
            <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
        </ul>
    </nav>

    {% if user_form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            {% for key, value in user_form.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
<div class="form-content">
    <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="small mb-1">Username:</label>
                        {{ user_form.username }}
                    <label class="small mb-1">Email:</label>
                        {{ user_form.email }}
                </div>
                <div class="form-group">
                    <a href="#">Change Password</a>
                    <hr>
                    
                    <img src="{{user.profile.img.url}}" alt="minha imagem">
                    
                    <label class="small mb-1">Change Avatar:</label>
                    {{ profile_form.img }}
                </div>
                <label class="small mb-1">Bio:</label> {{ profile_form.bio }}
            </div>
        </div>
        <br><br>
        <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
        <button type="reset" class="btn btn-dark btn-lg">Reset</button>
    </form>
     
    </div>
    

    

    

    <script>
    </script>
</body>
</html>



